*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: "Ubuntu", sans-serif;
}

a{
    color: currentColor;
    text-decoration: none;
}

ul, ol{
    list-style: none;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-33{
    width:calc(100%/3);
    padding: 0 5px;
}

.debug{
    border: 2px dotted red;
}

.photo{
    position: relative;
}

.description{
    padding-bottom: 20px;
    font-size: small;
}

.new-price{
    font-weight: bold;
    color: red;
}

.old-price{
    text-decoration: line-through;
}

.tags{
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 10%;
    color: white;
    font-weight: bold;
}

.tags .discount{
    background-color: #FF0000;
    padding: 5px;
    font-size: small;
}

.tags .eco{
    background-color: #008000;
    padding: 5px;
    font-size: small;
}

.symbol{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: 10px;
    font-size: x-large;
}

.menu{
    display: flex;
    gap: 10px;
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.main-header{
    background-color: #FF6900;
}

.main-header .container{
    max-width: 990px;
    font-weight: bold;
    color: white;
    padding: 10px 0;
}

.main-footer{
    background-color: #1A1A1A;
    color: white;
}

section .row{
    padding-top: 50px;
}

footer .container{
    padding: 20px 0;
    max-width: 990px;
}

footer .menu{
    font-size: small;
}

.social{
    text-align: center;
    font-weight: bold;
}

.hide{
    opacity: 0;
    position: absolute;
}

.col-33:hover .hide{
    opacity: 1;
}

.symbol:hover{
    color: red;
}