*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-33{
    width:calc(100%/3);
}

html{
    font-family: "Ubuntu", sans-serif;
}

.debug{
    border: 2px dotted red;
}

.photo{
    position: relative;
}

.new-price{
    font-weight: bold;
    color: red;
}

.old-price{
    text-decoration: line-through;
}

.tags{
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 10%;
    color: white;
    font-weight: bold;
}

.tags .discount{
    background-color: #FF0000;
}

.tags .eco{
    background-color: #008000;
}